.ax_default {
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.shape {
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.button {
}
.heading_1 {
  font-family:'Montserrat Medium', 'Montserrat Regular', 'Montserrat';
  font-weight:normal;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Обычный', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Обычный', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Обычный', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Обычный', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Обычный', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat';
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.menu_item {
}
.flow_shape {
}
.box_11 {
}
.box_3 {
}
.box_31 {
}
.icon_40 {
}
.icon {
}
.pagetitle {
  font-family:'Roboto Thin', 'Roboto Regular', 'Roboto';
  font-weight:100;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
  line-height:42px;
}
